{% extends '_base.html' %}
{% load static %}
{% load skill_tags %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="container mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="d-flex justify-content-center">Home</h1>
        </div>
    </div>

    <h3 class="d-flex justify-content-center">Top 5 Skills out of a total of  {% skill_type_count_tag %} skills</h3>
            {% total_skill_freq_types as most_commented_posts %}
            <table class="table">
                <thead>
                    <tr>
                      <th>Skill</th>
                      <th>Total Employees with this skill</th>
                      <th>Total Employees</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                {%  for post in most_commented_posts %}
                <tr>
                    <td>{{ post.user_skill__skill_name }}</td>
                    <td>{{ post.count_total}}</td>
                    <td>{% total_users %}</td>
                  </tr>   
                {% endfor %}
        </tbody>
        </table>

        
        <div id="container mt-5 mb-5">
            <canvas id="pie-chart"></canvas>
        </div>



            <div class="container mt-5 mb-5">
        <h3 class="d-flex justify-content-center">Top 5 Skills Category out of a total of  {% skill_cat_type_count_tag %} skills</h3>
        {% total_skill_cat_freq_types as most_commented_posts %}
        <table class="table">
            <thead>
                <tr>
                  <th>Skill Category</th>
                  <th>Total Occurances of skill category</th>
                </tr>
              </thead>
              <tbody></tbody>
            {%  for post in most_commented_posts %}
            <tr>
                <td>{{ post.user_skill_category__skill_category }}</td>
                <td>{{ post.count_total}}</td>
              </tr>   
            {% endfor %}
    </tbody>
    </table>
</div>

        <div id="container mt-5 mb-5">
            <canvas id="bar-chart"></canvas>
        </div>


        <div class="container mt-5 mb-5">
            <h3 class="d-flex justify-content-center">Top 5 Skills Sub out of a total of  {% skill_sub_type_count_tag %} skills Sub</h3>
            {% total_skill_sub_freq_types as most_commented_posts %}
            <table class="table">
                <thead>
                    <tr>
                      <th>Skill Sub</th>
                      <th>Total Occurances of skill Sub</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                {%  for post in most_commented_posts %}
                <tr>
                    <td>{{ post.user_skill_sub_category__skill_sub_category }}</td>
                    <td>{{ post.count_total}}</td>
                  </tr>   
                {% endfor %}
        </tbody>
        </table>
    </div>


    <div id="container mt-5 mb-5">
        <canvas id="polarArea-chart"></canvas>
    </div>


    <div class="container mt-5 mb-5">
      <h3 class="d-flex justify-content-center">All Skills  {% skill_type_count_tag %} </h3>
      {% all_skill_types as most_commented_posts %}
      <table class="table">
          <thead>
              <tr>
                <th>Skill Sub</th>
                <th>SKill Description</th>
              </tr>
            </thead>
            <tbody></tbody>
          {%  for post in most_commented_posts %}
          <tr>
              <td>{{ post.skill_name }}</td>
              <td>{{ post.skill_description }}</td>
            </tr>   
          {% endfor %}
  </tbody>
  </table>
</div>



<div class="container mt-5 mb-5">
  <h3 class="d-flex justify-content-center">All Skill Category  {% skill_cat_type_count_tag %} </h3>
  {% all_skill_cat_types as most_commented_posts %}
  <table class="table">
      <thead>
          <tr>
            <th>Skill Category</th>
            <th>SKill Category Description</th>
          </tr>
        </thead>
        <tbody></tbody>
      {%  for post in most_commented_posts %}
      <tr>
          <td>{{ post.skill_category }}</td>
          <td>{{ post.skill_category_description }}</td>
        </tr>   
      {% endfor %}
</tbody>
</table>
</div>


<div class="container mt-5 mb-5">
  <h3 class="d-flex justify-content-center">All Skill Subcategory  {% skill_sub_type_count_tag %} </h3>
  {% all_skill_sub_cat_types as most_commented_posts %}
  <table class="table">
      <thead>
          <tr>
            <th>Skill Subcategory</th>
            <th>SKill Subcategory Description</th>
          </tr>
        </thead>
        <tbody></tbody>
      {%  for post in most_commented_posts %}
      <tr>
          <td>{{ post.skill_sub_category }}</td>
          <td>{{ post.skill_sub_category_description }}</td>
        </tr>   
      {% endfor %}
</tbody>
</table>
</div>


</div>

{% endblock content %}


{% block scripts %}
  {{ block.super }}

  <script>

    var config1 = {
      type: 'doughnut',
      data: { datasets: [{data:{{data|safe}}, backgroundColor: ['#0074D9', '#ffff00', '#2ECC40', '#FF851B', '#7FDBFF'], label: 'Top Skills'}], labels: {{ labels|safe }}},
      options: {
        responsive: true,
        title: {
              display: true,
              text: 'Top 5 Skills',
              fontSize: 30,
          }
      }
    };
  
    var config2 = {
      type: 'horizontalBar',
      data: {
        datasets: [{data: {{catdata|safe}},
          backgroundColor: ['#0074D9', '#ffff00', '#2ECC40', '#FF851B', '#7FDBFF'], label: 'Top Skill Category'}], labels: {{ catlabels|safe }}},
      options: {
        legend: {display: false,},
        scales: {xAxes:[{ticks : {beginAtZero : true}}]},
        responsive: true,
        title: {
              display: true,
              text: 'Top 5 Skills Category',
              fontSize: 30,
          }
      }
    };
  
  
    var config3 = {
      type: 'polarArea',
      data: {
        datasets: [{data: {{subdata|safe}},
          backgroundColor: ['#0074D9', '#ffff00', '#2ECC40', '#FF851B', '#7FDBFF'], label: 'Top Skill Sub Category'}], labels: {{ sublabels|safe }}},
      options: {
        responsive: true,
        title: {
              display: true,
              text: 'Top 5 Skills Sub Category',
              fontSize: 30,
          }
      }
    };
  
    window.onload = function() {
      var ctx1 = document.getElementById('pie-chart').getContext('2d');
      window.myPie1 = new Chart(ctx1, config1);
  
      var ctx2 = document.getElementById('bar-chart').getContext('2d');
      window.myPie2 = new Chart(ctx2, config2);
  
      var ctx3 = document.getElementById('polarArea-chart').getContext('2d');
      window.myPie3 = new Chart(ctx3, config3);
    }
  
  
  
  </script>

  
{% endblock %}




