{% extends '_base.html' %}
{% load skill_tags %}

{% block title %} skill category detail {% endblock title %}

{% block content %}
<div class="container">

    <div class="container mt-5 mb-5">
        <div class="jumbotron">
            <h1 class="d-flex justify-content-center">Skill Category Detail</h1>
        </div>
    </div>

    <!-- Modal 2 with id="modal" -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <h3 class="d-flex justify-content-center">Skill Detail List of a total  {% skill_cat_type_count_tag %} skills</h3>
    <table class="table">
        <thead>
            <tr>
              <th>Skill</th>
              <th>Description</th>
              <th>Created</th>
              <th>Updated</th>
              <th>edit</th>
            </tr>
          </thead>
          <tbody></tbody>
          {% for item in skill_category_detail_list %}
        <tr>
            <td>{{ item.skill_category }}</td>
            <td>{{ item.skill_category_description }}</td>
            <td>{{ item.created }}</td>
            <td>{{ item.updated }}</td>
            <td><button type="button" id="update-book" class="bs-modal btn btn-sm btn-primary" data-form-url="{% url 'skills:skill_category_detail_update' item.id %}"><span class="fa fa-pencil"></span></button></td>
          </tr>   
        {% endfor %}
</tbody>
</table>

</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  
  <script type="text/javascript">
  $(function () {
  
    // Update, Read and Delete book buttons open modal with id="modal" (default)
    // The formURL is retrieved from the data of the element
    $(".bs-modal").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')
      });
    });
  
  
  });
  </script>
{% endblock %}