{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Skills{% endblock title %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="container">
<!-- Create book button -->
<button id="create-book" class="btn btn-primary" type="button" name="button">Create Category</button>
<button id="create-sub" class="btn btn-primary" type="button" name="button">Create Sub Category</button>
</div>

<div class="container">
  <form action="" method="POST">
  {% csrf_token %}
  {{ form|crispy}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock content %}