{% extends '_base.html' %}

{% block title %}User Skills{% endblock title %}

{% block content %}

<!-- Modal 2 with id="modal" -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


{% for item in user_skill_list %}
    <div class="container mt-3">
        <div class="media border p-3">
          <img src="" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>{{ item.user_skill.skill_name}}<small><i> {{ item.author }}</i></small></h4>
          
            {% for category in item.user_skill_category.all %}
                <p>{{ category.skill_category }}</p>
            {% endfor %}
     
            {% for sub_category in item.user_skill_sub_category.all %}
                <p>{{ sub_category.skill_sub_category }}</p>
            {% endfor %} 
            <button type="button" id="update-book" class="bs-modal btn btn-sm btn-primary" data-form-url="{% url 'skills:update' item.id %}"><span class="fa fa-pencil"></span></button>
            <button type="button" id="delete-book" class="bs-modal btn btn-sm btn-danger" data-form-url="{% url 'skills:delete' item.id %}"><span class="fa fa-trash"></span></button>
          </div>
        </div>
    </div>
    
{% endfor %}


</div>

{% include "pagination.html" with page=page_obj %}


{% endblock content %}

{% block script %}
{% endblock script %}
